.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

#restartBtn{
  margin-bottom: 10px;
}

@keyframes bgcolor {
  0% {
    background-color: #3b85b9
  }

  30% {
    background-color: #578f3b
  }

  60% {
    background-color: #c0550d
  }

  90% {
    background-color: #bd2841
  }

  100% {
    background-color: #864cbf
  }
}

.App-header {
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mapSizeLabel {
  margin-right: 10px;
  margin-left: 20px;
}

.Input {
  font-size: 20px;
}